@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Antonio:wght@100..700&display=swap");
* {
  color: #fff;
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.dashboard {
  width: 100vw;
}
.dashboard__navbar {
  width: 100vw;
  height: 13vh;
  background: #159ac4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
}
.dashboard__navbar__logo {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 4rem;
  align-items: center;
}
.dashboard__navbar__logo__text {
  font-weight: 700;
  font-size: 48px;
}
.dashboard__navbar__logo__image {
  width: 6rem;
  height: 6rem;
}
.dashboard__navbar__profile {
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  gap: 47px;
  align-items: center;
}
.dashboard__navbar__profile__text {
  font-size: 36px;
}
.dashboard__navbar__profile__image {
  width: 96px;
  height: 96px;
}
.dashboard__navbar__profile__image:hover {
  cursor: pointer;
}
.dashboard__main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard__main__filterbar {
  width: 92.5%;
  height: 14%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 48px 0px 32px 0px;
}
.dashboard__main__filterbar__container {
  width: 85.5%;
  height: 75%;
  background-color: #4d6870;
  border-radius: 16px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}
.dashboard__main__filterbar__container__buttons {
  width: 100%;
  height: 100%;
}
.dashboard__main__filterbar__container__buttons__text {
  font-size: 28px;
}
.dashboard__main__filterbar__container__buttons__input {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  border: 3px solid #e2e2e2;
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 20px;
}
.dashboard__main__filterbar__container__buttons__dropdown__placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 20px;
}
.dashboard__main__filterbar__container__buttons__dropdown__control {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  border: 3px solid #e2e2e2;
  background: #fff;
  font-size: 16px;
}
.dashboard__main__filterbar__container__buttons__dropdown__control--menu-is-open {
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 3px solid #e2e2e2;
  border-right: 3px solid #e2e2e2;
  border-left: 3px solid #e2e2e2;
}
.dashboard__main__filterbar__container__buttons__dropdown__control:hover {
  cursor: pointer;
}
.dashboard__main__filterbar__container__buttons__dropdown__menu {
  background: #fff;
  border-radius: 0px 0px 8px 8px;
  padding: 8px 16px 16px 16px;
  border-right: 3px solid #e2e2e2;
  border-bottom: 3px solid #e2e2e2;
  border-left: 3px solid #e2e2e2;
}
.dashboard__main__filterbar__container__buttons__dropdown__option {
  color: #000;
  font-size: 16px;
  padding: 4px;
}
.dashboard__main__filterbar__container__buttons__dropdown__option:hover {
  cursor: pointer;
  background-color: #159ac4;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}
.dashboard__main__filterbar__container__buttons__dropdown__option:first-child {
  border-bottom: 1px solid #000;
}
.dashboard__main__filterbar__container__buttons__dropdown__single-value {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 20px;
}
.dashboard__main__filterbar__button {
  width: 14.5%;
  border-radius: 16px;
  background-color: #159ac4;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.dashboard__main__filterbar__button:hover {
  cursor: pointer;
}
.dashboard__main__content {
  width: 92.5%;
  height: 11%;
}
.dashboard__main__content__infobar {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #4d6870;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}
.dashboard__main__content__infobar p {
  padding: 36px 0px;
}
.dashboard__main__content__infobar p:nth-child(1) {
  padding-left: 32px;
}
.dashboard__main__content__infobar p:nth-child(5) {
  padding-right: 16px;
}
.dashboard__main__content__card {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #4d6870;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.dashboard__main__content__card__title {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  padding-left: 32px;
}
.dashboard__main__content__card__title h1 {
  font-size: 24px;
}
.dashboard__main__content__card__title h3 {
  font-size: 12px;
}
.dashboard__main__content__card__buttons {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  right: 0;
  margin-right: 8px;
}
.dashboard__main__content__card__buttons :first-child {
  width: 115px;
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  background: #159ac4;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  border-width: 0px;
}
.dashboard__main__content__card__buttons :first-child:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33) inset;
}
.dashboard__main__content__card__buttons :last-child {
  width: 115px;
  height: 40px;
  border-radius: 0px 0px 8px 8px;
  background: #f06e2e;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  border-width: 0px;
}
.dashboard__main__content__card__buttons :last-child:hover {
  cursor: pointer;
  box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.33) inset;
}
.dashboard__main__content__card p {
  padding: 36px 0px;
}
.dashboard__main__content__card:first-child {
  margin-top: 32px;
}
.dashboard__main__content__card p:nth-child(2) {
  min-width: 25%;
  max-width: 25%;
}
.dashboard__main__content__card p:nth-child(3) {
  min-width: 10%;
  max-width: 10%;
}
.dashboard__main__content__card p:nth-child(4) {
  min-width: 10%;
  max-width: 10%;
}
.dashboard__main__statistics {
  width: 95%;
  height: 34%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 32px;
  position: fixed;
  bottom: 48px;
}
.dashboard__main__statistics__global {
  width: 49%;
  padding: 48px;
  border-radius: 16px;
  background: #4d6870;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dashboard__main__statistics__global div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.dashboard__main__statistics__global p {
  font-size: 24px;
}
.dashboard__main__statistics__global h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
  position: relative;
  left: -10px;
}
.dashboard__main__statistics__local {
  width: 49%;
  padding: 48px;
  border-radius: 16px;
  background: #4d6870;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dashboard__main__statistics__local div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.dashboard__main__statistics__local p {
  font-size: 24px;
}
.dashboard__main__statistics__local h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
  position: relative;
  left: -10px;
}/*# sourceMappingURL=Dashboard.css.map */