@use "./utils/variables";


// pages
@import "./pages/login";
@import "./pages/register";
@import "./pages/dashboard";
@import "./pages/add-spot";
@import "./pages/edit-spot";
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Antonio:wght@100..700&display=swap");

* {
  color: #fff;
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0;
}
